 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: white;
     padding: 20px;
 }

 section {
     display: flex;
     gap: 20px;
     justify-content: center;
     align-items: center;
     
 }

 #yellow-box {
     background-color: #FFFF00;
     height: 590px;
     width: 350px;
     border: 2px solid #000;
 }

 #gray-box {
     background-color: #888888;
     height: 590px;
     width: 350px;
     border: 2px solid #000;
 }

 #cyan-box {
     background-color: #00FFFF;
     height: 590px;
     width: 350px;
     border: 2px solid #000;
 }