 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: #FFFFFF;
     padding: 20px;
 }

 section {
     display: flex;
     gap: 50px;
     justify-content: center;
     align-items: flex-start;
 }

 #yellow-box {
     background-color: #FFFF00;
     height: 600px;
     width: 400px;
     border: 2px solid #000;
 }

 .middle-column {
     display: flex;
     flex-direction: column;
     gap: 40px;
 }

 #blue-box {
     background-color: #1E90FF;
     height: 278px;
     width: 380px;
     border: 2px solid #000;
 }

 #gray-box {
     background-color: #888888;
     height: 278px;
     width: 380px;
     border: 2px solid #000;
 }

 #cyan-box {
     background-color: #00FFFF;
     height: 600px;
     width: 400px;
     border: 2px solid #000;
 }