* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


.content {
    display: flex;
    flex-direction: row;
    height: 300px;
    margin: 10px;
}

.header {
    background-color: yellow;
    padding: 40px;
    text-align: left;
    font-size: 24px;
    flex-grow: 0;
    height: 310px;
    margin: 10px;
    border: 1px solid black;

}

.aside {
    background-color: gray;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    width: 50%;
    border: black 2px solid;
    margin: 0%;


}

.main {
    background-color: gray;
    padding: 50px;
    text-align: center;
    font-size: 24px;
    width: 50%;
    border: black 2px solid;
    margin: 0%;
    flex: 1;

}
.footer {
    background-color: blue;
    padding: 40px;
    text-align: left;
    font-size: 24px;
    height: 335px;
    margin: 10px;
    border: 1px solid black;




}