 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: Arial, sans-serif;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding: 20px;
 }

 header h1,
 aside p,
 main p,
 footer p {
     display: none;
 }

 header {
     background-color: #F5B800;
     padding: 40px;
     border: 2px solid #000;
 }

 header h1 {
     font-size: 20px;
     color: #000;
 }

 .container {
     display: flex;
     justify-content: center;
     padding: 10px 0;
     gap: 15px;
 }

 .group {
     display: flex;
     gap: 15px;
 }

 .section-item {
     background-color: #e6a0ff;
     border: 2px solid #000;
     height: 35px;
     width: 100px;
 }

 .content {
     display: flex;
     gap: 10px;
     flex: 1;
     margin-bottom: 10px;
 }

aside {
    background-color: #BEBEBE;
    padding: 80px;
    width: 80px;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}

aside p {
    font-size: 20px;
    color: #000;
}

main {
    background-color: #61d95d;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 2px solid #000;
    flex-basis: 70%;
}

main p {
    font-size: 20px;
    color: #000;
}

footer {
    background-color: #00B8E6;
    padding: 90px;
    border: 2px solid #000;
}

footer p {
    font-size: 20px;
    color: #000;
}