* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    gap: 15px;
}

html {
    height: 100%;
}

header h1,
aside p,
main p,
footer p {
    display: none;
}

header {
    background-color: #F5B800;
    padding: 80px;
    border: 2px solid #000;
}

header h1 {
    font-size: 20px;
    color: #000;
}

.content {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: center;
}

aside {
    background-color: #BEBEBE;
    padding: 80px;
    width: 80px;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}

aside p {
    font-size: 20px;
    color: #000;
}

main {
    background-color: #61d95d;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border: 2px solid #000;
}

main p {
    font-size: 20px;
    color: #000;
}

footer {
    background-color: #00B8E6;
    padding: 80px;
    border: 2px solid #000;
}

footer p {
    font-size: 20px;
    color: #000;
}