* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}


header {
    background-color: #F5B800;
    padding: 20px;
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    border: 2px solid black;
    background-color: #5DD9D1;
    width: 40px;
    height: 40px;
}

.Login {
    font-size: 16px;
    color: #000;
}

header h1 {
    font-size: 20px;
    color: #000;
}

.content {
    display: flex;
    gap: 10px;
    flex: 1;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 20px;
}

.group {
    display: flex;
    gap: 35px;
    padding: 10px 0;
    width: 20%;
    justify-content: center;
}

.section-item {
    background-color: #e6a0ff;
    border: 2px solid #000;
    height: 35px;
    width: 100px;
}


/*--Aside--*/
aside {
    background-color: #BEBEBE;
    padding: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    flex-basis: 30%;
}

.aside-text {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}


.aside-text h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
}

.aside-text p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
    text-align: justify;
}


/*--Main--*/
main {
    background-color: #61d95d;
    padding: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 2px solid #000;
    flex-basis: 70%;
}

.main-image {
    flex: 0 0 200px;
    height: 200px;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.main-text {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.main-text h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
}

.main-text p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
    text-align: justify;
}

footer {
    background-color: #00B8E6;
    padding: 35px;
    border: 2px solid #000;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer-item {
    background-color: #5DD9D1;
    border: 2px solid #000;
    width: 120px;  
    height: 120px;
    padding: 50px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item p {
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.footer-item:first-child {
    background-color: #5DD9D1;
}